<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaunchProCIM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LaunchProCIM.My.MySettings>
            <setting name="PfilesEnvx86" serializeAs="String">
                <value>ProgramFiles</value>
            </setting>
            <setting name="PFilesEnvx64" serializeAs="String">
                <value>ProgramFiles(x86)</value>
            </setting>
            <setting name="PFilesx64" serializeAs="String">
                <value>C:\Program Files (x86)</value>
            </setting>
            <setting name="PFilesx86" serializeAs="String">
                <value>C:\Program Files</value>
            </setting>
        </LaunchProCIM.My.MySettings>
    </userSettings>
</configuration>